body {
    margin: 0;
    padding: 0;
}

header {
    font-family: arial, sans-serif;
    color: rgb(117, 117, 117);
    text-align: right;
    float: right;
    min-width: 100%;
    height: 71px;
    position: relative;
    padding-top: 23px;
    padding-right: 20px;
    background-color: #FAFAFA;
}

.nav-a {
    font-size: 10px;
    float: right;
    display: block;
}

.notif {
    margin-left: 20px;
    margin-right: 15px;
}

.nav-right {
    margin-right: 20px;
}

.apps,
.notif {
    padding-top: 7px;
    margin-right: -2px;
    text-decoration: none;
    color: rgb(119, 119, 119);
}

.avatar {
    height: 32px;
    margin-right: 6px;
    margin-top: 3px;
    border-radius: 50%;
    cursor: pointer;
}

.apps:hover,
.notif:hover {
    color: rgb(64, 64, 64);
}

.logo {
    height: 40px;
    float: left;
    margin-left: 34px;
    margin-top: 2px;
}

#search {
    background-color: white;
    border-radius: 2px;
    border: 1px solid #ccc;
    border-top-color: #EBEBEB;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 0 2px 0 rgba(0, 0, 0, 0.05);
    float: left;
    height: 27px;
    width: 605px;
    padding: 7px 12px 10px 15px;
    margin-left: 18px;
    margin-top: -4px;
}

.search {
    text-decoration: none;
    color: #4285F4;
    position: relative;
    top: 2px;
    right: 5px;
}

.mic {
    height: 25px;
    position: relative;
    left: -17px;
    top: 3px;
}

input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    float: left;
    border: none;
    width: 515px;
    height: 28px;
    outline: none;
}

#links-wrapper {
    background-color: #FAFAFA;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
    width: 100%;
    height: 28px;
    top: 94px;
}

.all {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #4285F4;
    text-decoration: none;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    border-bottom: 3px solid #4285F4;
    top: -98px;
    left: 150px;
}

.links {
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(128, 128, 128);
    padding-right: 28px;
    position: relative;
    top: -98px;
    left: 162px;
}

.links:hover {
    color: #222222;
}

.pref {
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(128, 128, 128);
    position: relative;
    top: -98px;
    left: 162px;
}

.pref:hover {
    color: #222222;
}

.settings {
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(128, 128, 128);
    margin-left: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    top: -98px;
    left: 161px;
    border: 1px solid transparent;
}

.settings:hover {
    background-color: #F2F2F2;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, .1);
}

#estimate-results {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: rgb(128, 128, 128);
    position: relative;
    margin-top: 108px;
    left: 166px;
    width: 270px;
    height: 15px;
}

.res {
    position: relative;
    top: 23px;
    left: 166px;
    width: 600px;
    height: auto;
}

.search-title {
    font-family: arial, sans-serif;
    font-size: 18px;
    color: #2F0DAB;
    text-decoration: none;
}

.search-title:hover {
    text-decoration: underline;
}

.res-link {
    position: relative;
    top: -10px;
}

.search-link,
.arrow {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #1F6621;
    text-decoration: none;
}

.arrow {
    position: relative;
    top: 8px;
    left: -5px;
}

.translate {
    position: relative;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #2F0DAB;
    text-decoration: none;
    left: -10px;
}

.description {
    position: relative;
    color: rgb(84, 84, 84);
    font-family: arial, sans-serif;
    font-size: 13px;
    top: 1px;
}

.translate:hover {
    text-decoration: underline;
}

.match {
    font-weight: bold;
}

#box {
    position: relative;
    top: 15px;
    left: 30px;
    height: 212px;
    width: 515px;
    font-family: arial, sans-serif;
}

#left-box {
    top: -2px;
    left: -2px;
    position: absolute;
}

#right-box {
    float: right;
    margin-top: -2px;
    margin-left: -5px;
}

.box-desc {
    font-size: 13px;
    position: relative;
    width: 210px;
    height: 50px;
}

.more-results {
    position: relative;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #2F0DAB;
    text-decoration: none;
    top: 205px;
    left: -2px;
}

.block-02 {
    position: relative;
    top: 41px;
}

.search-link02 {
    position: relative;
    top: -10px;
}

.arrow02 {
    position: relative;
    top: -3px;
    left: -5px;
}

.date {
    color: #8F808B;
}

.box-desc02 {
    top: -9px;
    width: 600px;
    height: 52px;
}

.more-searches {
    position: relative;
    top: 75px;
    left: 166px;
    width: 600px;
    font-family: arial, sans-serif;
    font-size: 18px;
    color: rgb(34, 34, 34);
}

#more-links {
    position: relative;
    top: 98px;
    left: 166px;
    width: 226px;
    height: 70px;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
}

#links00 {
    position: absolute;
    width: 150px;
    height: 70px;
}

#links01 {
    float: right;
}

.extras {
    color: #2F0DAB;
    text-decoration: none;
}

.extras:hover,
.next:hover {
    text-decoration: underline;
}

.bot-links {
    padding-bottom: 10px;
}

.nav {
    text-align: center;
    padding: 0;
    vertical-align: top;
}

.nav00 {
    /*G*/
    background-image: url('/assets/images/nav_logo242.png');
    background-repeat: no-repeat;
    background-position: -24px 0;
    width: 28px;
    height: 40px;
    display: block;
    vertical-align: top;
}

.nav01 {
    /*O red*/
    background-image: url('/assets/images/nav_logo242.png');
    background-repeat: no-repeat;
    background-position: -53px 0;
    width: 20px;
    height: 40px;
    display: block;
}

.nav02 {
    /*O yellow*/
    background-image: url('/assets/images/nav_logo242.png');
    background-repeat: no-repeat;
    background-position: -73px 0;
    width: 20px;
    height: 40px;
    display: block;
}

.nav03 {
    /*G*/
    background-image: url('/assets/images/nav_logo242.png');
    background-repeat: no-repeat;
    background-position: -96px 0;
    width: 72px;
    height: 40px;
    display: block;
}

.navend span:nth-child(2) {
    margin-left: 52px;
}

.pages {
    text-decoration: none;
    color: #5B95F5;
}

.pages: hover {
    text-decoration: underline;
}

.pages00 {
    color: #5F5F5F;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 13px;
}

.ggl-search {
    width: 600px;
    margin-left: 165px;
    margin-bottom: 34px;
}