body {
    margin: 0;
    padding: 0;
}

header {
    font-family: arial, sans-serif;
    color: rgb(117, 117, 117);
    text-align: right;
    float: right;
    min-width: 100%;
    height: 71px;
    position: relative;
    padding-top: 23px;
    padding-right: 20px;
    background-color: #FAFAFA;
}

.nav-a {
    font-size: 10px;
    float: right;
    display: block;
}

.notif {
    margin-left: 20px;
    margin-right: 15px;
}

.nav-right {
    margin-right: 20px;
}

.apps,
.notif {
    padding-top: 7px;
    margin-right: -2px;
    text-decoration: none;
    color: rgb(119, 119, 119);
}

.avatar {
    height: 32px;
    margin-right: 6px;
    margin-top: 3px;
    border-radius: 50%;
    cursor: pointer;
}

.apps:hover,
.notif:hover {
    color: rgb(64, 64, 64);
}

.logo {
    height: 40px;
    float: left;
    margin-left: 34px;
    margin-top: 2px;
}

#search {
    background-color: white;
    border-radius: 2px;
    border: 1px solid #ccc;
    border-top-color: #EBEBEB;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 0 2px 0 rgba(0, 0, 0, 0.05);
    float: left;
    height: 27px;
    width: 605px;
    padding: 7px 12px 10px 15px;
    margin-left: 18px;
    margin-top: -4px;
}

.search {
    text-decoration: none;
    color: #4285F4;
    position: relative;
    top: 2px;
    right: 5px;
}

.mic {
    height: 25px;
    position: relative;
    left: -17px;
    top: 3px;
}

input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    float: left;
    border: none;
    width: 515px;
    height: 28px;
    outline: none;
}

#links-wrapper {
    background-color: #FAFAFA;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
    width: 100%;
    height: 28px;
    top: 94px;
}

.all {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #4285F4;
    text-decoration: none;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    border-bottom: 3px solid #4285F4;
    top: -98px;
    left: 150px;
}

.links {
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(128, 128, 128);
    padding-right: 28px;
    position: relative;
    top: -98px;
    left: 162px;
}

.links:hover {
    color: #222222;
}

.pref {
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(128, 128, 128);
    position: relative;
    top: -98px;
    left: 162px;
}

.pref:hover {
    color: #222222;
}

.settings {
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(128, 128, 128);
    margin-left: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    top: -98px;
    left: 161px;
    border: 1px solid transparent;
}

.settings:hover {
    background-color: #F2F2F2;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, .1);
}